.debug .my-portfolioImg{
    width: 150px;
    height: 150px;
}

.debug .my-card{
    height: 200px;
    border-radius: 10px;
}

/* ------------------------------------------ */
html{
    scroll-behavior: smooth;
}

section{
    scroll-margin-top: 56px;
}

header::after{
    content: '';
    display: block;
    height: 56px;
}

.my-formItem, textarea{
    border: none;
    border-bottom: 1px solid lightgray;
}

textarea{
    min-height: 200px;
}

.my-circleLogo{
    width: 35px;
    height: 35px;
    font-size: 13px;
    text-align: center;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
}

button{
    transition: background-color .2s !important;
}

.my-bgGreen     { background-color: #20bb9b;}
.my-bgDark      { background-color: #304051;}
.my-bgClearDark { background-color: #3d556d;}